body {
  font-family: sans-serif;
}

#goTop {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
}

#goTop.is-visible {
  opacity: 1;
}

section {
  height: 100vh;
}
section h2 {
  padding: 20px;
  margin: 0;
  color: #fff;
}

section:nth-of-type(1) {
  background: #0d3d56;
}

section:nth-of-type(2) {
  background: #0f5b78;
}

section:nth-of-type(3) {
  background: #117899;
}

section:nth-of-type(4) {
  background: #1496bb;
}
