.fade-in {
  -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-animate:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(44, 46, 45, 0.5));
  filter: drop-shadow(0px 0px 10px rgba(44, 46, 45, 0.5));
  transform: scale(1.05);
  transition: all 1s ease-in-out;
}
