@font-face {
  font-family: "FontinRegular";
  src: url("../assets/fonts/Fontin-Regular.otf");
}

@font-face {
  font-family: "FontinBold";
  src: url("../assets/fonts/Fontin-Bold.otf");
}

@font-face {
  font-family: "FontinItalic";
  src: url("../assets/fonts/Fontin-Italic.otf");
}

@font-face {
  font-family: "FontinSmallCaps";
  src: url("../assets/fonts/Fontin-SmallCaps.otf");
}
