@media screen and (min-width: 2000px) {
  .geral-text {
    font-size: 38px;
  }
}

@media screen and (max-width: 1200px) {
  .home-content {
    flex-direction: column;
  }

  .about-content {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
  }

  .about-content-text {
    max-width: 85%;
  }

  .image-cadeira {
    height: 300px;
  }

  .image-banner {
    height: 300px;
    width: 300px;
  }

  .footer-divider {
    transform: rotate(180deg);
    height: 2px;
    width: 350px;
    margin: 32px 0;
  }

  .main-title {
    font-size: 40px;
  }

  .main-subtitle {
    font-size: 36px;
  }

  .main-title-footer {
    font-size: 30px;
  }

  .main-subtitle-footer {
    font-size: 23px;
  }
}

@media screen and (max-width: 1080px) {
  .geral-text {
    font-size: 29px;
  }

  .image-cadeira {
    height: 400px;
  }

  .image-banner {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .geral-text {
    font-size: 29px;
  }

  .image-cadeira {
    height: 250px;
  }

  .image-banner {
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .geral-text {
    font-size: 22px;
  }

  .footer-divider {
    width: 300px;
  }

  .image-cadeira {
    height: 300px;
  }

  .image-banner {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .geral-text {
    font-size: 16px;
  }

  .footer-divider {
    width: 200px;
  }

  .image-cadeira {
    height: 200px;
  }

  .image-banner {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .geral-text {
    font-size: 13px;
  }

  .footer-divider {
    width: 100px;
  }

  .image-cadeira {
    height: 200px;
  }

  .image-banner {
    height: 200px;
    width: 200px;
  }
}
