body {
  font-family: FontinRegular;
}

#goTop {
  cursor: pointer;
  position: fixed;
  z-index: 999;
  right: 16px;
  bottom: 0;
  transform: translateY(-50%);
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

#goTop.is-visible {
  opacity: 1;
}

section {
  height: 100vh;
}
section h2 {
  font-size: 80px;
  margin: 0;
  color: #fff;
}

section h3 {
  font-size: 60px;
  margin: 0;
  color: #c9c9c9;
}

section:nth-of-type(1) {
  background: #0d3d56;
  background-image: url("../img/marcelo_perfil.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* collide .header-content when screen mobile */
@media screen and (max-width: 1200px) {
  .header-content {
    flex-direction: column;
  }
}

.header-text-content {
  display: flex;
  flex: 1;
}

.header-image-content {
  display: flex;
  flex: 1;
}

.image-aporo {
  height: 400px;
  width: 400px;
}

section:nth-of-type(2) {
  background: #0f5b78;
}

section:nth-of-type(3) {
  background: #117899;
}

section:nth-of-type(4) {
  background: #1496bb;
}
