body {
  font-family: FontinRegular;
}

#goTop {
  cursor: pointer;
  position: fixed;
  z-index: 999;
  right: 16px;
  bottom: 0;
  transform: translateY(-50%);
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

#goTop.is-visible {
  opacity: 1;
}

.home-section {
  height: 100vh;
}

.main-title {
  font-size: 80px;
  margin: 0;
  color: #fff;
}

.main-subtitle {
  font-size: 60px;
  margin: 0;
  color: #c9c9c9;
}

section:nth-of-type(1) {
  background-image: url("../img/marcelo_perfil.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.image-banner {
  height: 400px;
  width: 400px;
  padding-bottom: 32px;
}

section:nth-of-type(2) {
  background: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.about-content-text {
  max-width: 50%;
  font-size: 25px;
  margin: 0;
  color: #252522;
}

.image-animate:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(44, 46, 45, 0.5));
  filter: drop-shadow(0px 0px 10px rgba(44, 46, 45, 0.5));
  transform: scale(1.05);
  transition: all 1s ease-in-out;
}

section:nth-of-type(3) {
  background: rgb(96, 40, 40);
  height: 100vh;
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.footer-text-content {
  display: flex;
  flex: 1;
}

.footer-image-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main-title-footer {
  font-size: 40px;
  margin: 0;
  color: #fff;
}

.main-subtitle-footer {
  font-size: 30px;
  margin: 0;
  color: #c9c9c9;
}

@media screen and (max-width: 1200px) {
  .home-content {
    flex-direction: column;
  }

  .about-content {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
  }

  .about-content-text {
    max-width: 85%;
    font-size: 19px;
  }

  .image-banner {
    height: 450px;
    width: 450px;
  }
}
